.card{
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 30px;
    background-color: lightskyblue;
    font-family: Baskerville;
    box-shadow: -7px 7px 5px grey;
}

.imgPokemon{
    width: 300px;
    height: auto;
}

#containImg :hover{
    animation: myAnim 2s linear 0s 1 normal none;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

.infoPokemon{
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: right;
}

h2{
    text-align: center;
    font-size: 2em;
    font-style: italic;
}

#containType{
    display: flex;
    justify-content: center;
    align-items: center;
}

h3{
    text-align: center;
    font-size: 1.5em;
    margin-right: 30px;
}

.Plante, .Combat, .Eau, .Dragon, .Electrique, .Fée, .Feu, .Glace, .Psy, .Roche, .Sol, .Vol{
    background-size: cover;
    width: 40px;
    height: 40px;
    background-size: 100%;
    display: inline-block;
}

.Plante{
    background-image: url("../../assets/plante.svg");
}

.Combat{
    background-image: url("../../assets/combat.svg");
}

.Eau{
    background-image: url("../../assets/eau.svg");
}

.Dragon{
    background-image: url("../../assets/dragon.png");
}

.Electrique{
    background-image: url("../../assets/electrique.svg");
}

.Fée{
    background-image: url("../../assets/fee.svg");
}

.Feu{
    background-image: url("../../assets/feu.png");
}

.Glace{
    background-image: url("../../assets/glace.svg");
}

.Psy{
    background-image: url("../../assets/psy.svg");
}

.Roche{
    background-image: url("../../assets/roche.svg");
}

.Sol{
    background-image: url("../../assets/sol.svg");
}

.Vol{
    background-image: url("../../assets/vol.png");
}

.isFavorite {
    width: 40px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg');
    background-size: 100%;
    margin-right: 20px;
    display: inline-block;
}
  
.notFavorite {
    width: 40px;
    height: 40px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg');
    background-size: 100%;
    margin-right: 20px;
    display: inline-block;
}

